body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0b3c5d;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
}

h2 {
  color: #0b3c5d;
}

ul {
  padding-left: 20px;
}

input, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  background: #0b3c5d;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background: #ddd;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

nav button {
  padding: 8px 12px;
  border: none;
  background-color: #0b3c5d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #145374;
}
